<div class="box" style="text-align:center">
  <h4> Blog Posts </h4>
  <div class="row uniform 50%">
    <!--   <div class="post-nav"> -->
    <div class="6u 12u(mobilep)" style="text-align:left">
      {% if page.previous.url %}
      <p>Previous</p>
      <a href="{{page.previous.url}}">&#8672;&nbsp;{{page.previous.title}}</a>
      {% endif %}
    </div>
    <div class="6u 12u(mobilep)" style="text-align:right">
      {% if page.next.url %}
      <p>Next</p>
      <a href="{{page.next.url}}">{{page.next.title}}&nbsp;&#8674;</a>
      {% endif %}
    </div>
  </div>