<!-- Footer -->
<footer id="footer">

	<ul class="icons">
		<!--	<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
		<li><a href="https://www.facebook.com/h3withlaura" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="https://www.instagram.com/lauramsanders/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="mailto:laura@h3withlaura.com?subject=H3 Website" class="icon fas fa-envelope-square"><span class="label">Email</span></a></li>
	</ul>
	<ul class="icons">
		<li>
			<form method="post" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow"
				onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=h3withlaura', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
				<input type="hidden" value="h3withlaura" name="uri" />

				<input type="hidden" name="loc" value="en_US" />
				<input type="text" name="email" id="query" value="" placeholder="Enter your Email!" class="button alt small" />
		</li>
		<li>
			<input type="submit" value="Subscribe" class="button alt small" />

		</li>
		</form>

		<!-- <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
		<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
		<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li> -->
		</li>
	</ul>



	<ul class="copyright">
		<li><a href="https://h3withlaura.com"> &copy; 2020 {{ site.title }}. All rights reserved.</a></li>
	</ul>
</footer>


<!-- Scripts -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.scrollgress.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/lazysizes.min.js"></script>

<!-- GA4 Custom Events Tracking -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/ga4-events.js"></script>

</body>

</html>