<!-- <html lang="en"> -->

<head>

	{% if site.tags != "" %}
	{% include collecttags.html %}
	{% endif %}

	<!-- Global site tag (gtag.js) - Google Analytics 4 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-CJZCQWFC20"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		
		// Default consent mode settings - update based on your cookie consent implementation
		gtag('consent', 'default', {
			'analytics_storage': 'denied',
			'ad_storage': 'denied',
			'wait_for_update': 500
		});
		
		// Enhanced configuration with key settings
		gtag('config', 'G-CJZCQWFC20', {
			'send_page_view': true,
			'page_title': document.title,
			'page_location': window.location.href,
			'cookie_domain': 'h3withlaura.com',
			'timer_name': 'GA4PageLoad'
		});
		
		// Track page load timing
		window.addEventListener('load', function() {
			gtag('event', 'timing_complete', {
				'name': 'load',
				'value': Math.round(performance.now()),
				'event_category': 'Page Timing'
			});
		});
	</script>
	<!-- Consent Manager for GA4 -->
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/consent-manager.js" async></script>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
	
	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="twitter:image" content="{% if page.image %}{{ page.image }}{% else %}https://res.cloudinary.com/rockmonkey/image/upload/v1587782937/Blog/Burger-Up-Salad_w1gncd.jpg{% endif %}">
	
	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta itemprop="image" content="{% if page.image %}{{ page.image }}{% else %}https://res.cloudinary.com/rockmonkey/image/upload/v1587782937/Blog/Burger-Up-Salad_w1gncd.jpg{% endif %}">

	<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/ie8.css" /><![endif]-->
	<!-- Place your kit's code here -->
	<script src="lazysizes.min.js" async></script>
	<script async src="https://kit.fontawesome.com/dde3862630.js" crossorigin="anonymous"></script>
	<!-- Favicon head tag -->
	<link rel="icon" href="https://res.cloudinary.com/rockmonkey/image/upload/dpr_auto,f_auto,fl_any_format.fast_scale.force_strip.immutable_cache.progressive.progressive:semi.progressive:steep,q_auto/v1587782942/h3-logo_orvt5o.png"
		type="image/x-icon">

	<!-- load main.css -->
	<script>
		(function() {
			var cssMain = document.createElement('link');
			cssMain.href = 'assets/css/main.css';
			cssMain.rel = 'stylesheet';
			cssMain.type = 'text/css';
			document.getElementsByTagName('head')[0].appendChild(css);
		})();
	</script>

	<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.0.0/dist/algoliasearch-lite.umd.js" integrity="sha256-MfeKq2Aw9VAkaE9Caes2NOxQf6vUa8Av0JqcUXUGkd0=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.0.0/dist/instantsearch.production.min.js" integrity="sha256-6S7q0JJs/Kx4kb/fv0oMjS855QTz5Rc2hh9AkIUjUsk=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/algolia-min.css" integrity="sha256-HB49n/BZjuqiCtQQf49OdZn63XuKFaxcIHWf0HNKte8=" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch.min.css">
	<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4"></script>

	{% seo %}
	{% if page.image %}
		<meta property="og:image" content={{ page.image }}>
	{% else %}
		<meta property="og:image" content=https://res.cloudinary.com/rockmonkey/image/upload/v1587782937/Blog/Burger-Up-Salad_w1gncd.jpg>
	{% endif %}
</head>
