<!-- <html lang="en"> -->

<head>

	{% if site.tags != "" %}
	{% include collecttags.html %}
	{% endif %}

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src=" https://www.googletagmanager.com/gtag/js?id=UA-163356748-1"> </script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-163356748-1');
	</script>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/ie8.css" /><![endif]-->
	<!-- Place your kit's code here -->
	<script src="lazysizes.min.js" async></script>
	<script async src="https://kit.fontawesome.com/dde3862630.js" crossorigin="anonymous"></script>
	<!-- Favicon head tag -->
	<link rel="icon" href="https://res.cloudinary.com/rockmonkey/image/upload/dpr_auto,f_auto,fl_any_format.fast_scale.force_strip.immutable_cache.progressive.progressive:semi.progressive:steep,q_auto/v1587782942/h3-logo_orvt5o.png"
		type="image/x-icon">

	<!-- load main.css -->
	<script>
		(function() {
			var cssMain = document.createElement('link');
			cssMain.href = 'assets/css/main.css';
			cssMain.rel = 'stylesheet';
			cssMain.type = 'text/css';
			document.getElementsByTagName('head')[0].appendChild(css);
		})();
	</script>


	{% seo %}

</head>