<nav id="nav">

	<ul>
		<!--	<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
		<li><a href="https://www.instagram.com/lauramsanders/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="https://www.facebook.com/lauramsanders/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<!-- <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
			<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
			<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li> -->

		<li><a href="{{ site.baseurl | prepend: site.url }}">Home</a></li>
		<li>
			<a href="#" class="icon fa-angle-down">Menu</a>
			<ul>
				<li><a href="aboutme.html">About Me</a></li>
				<li><a href="contact.html">Blog</a></li>
				<li><a href="elements.html">Recommended Items</a></li>
				<li><a href="elements.html">Topic Tuesday Posts</a></li>
				<li><a href="elements.html">Tip Thursday Posts</a></li>


				<li>


					<a href="#">Favorite Recipes</a>
					<ul>
						<li><a href="#">All</a></li>
						<li><a href="#">Gluten Free</a></li>
						<li><a href="#">Paleo</a></li>
						<li><a href="#">Whole 30</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a href="#" class="button">Search</a></li>
	</ul>
</nav>