{% comment %}
Optimized Image Include
Usage: 
{% include optimized-image.html 
  path="/path/to/image.jpg" 
  alt="Image description" 
  width="1200" 
  height="800" 
  class="additional-class" 
%}
{% endcomment %}

{% assign image_url = include.path | replace_first: 'https://res.cloudinary.com/rockmonkey/image/upload/', '' %}

<img class="lazyload {% if include.class %}{{ include.class }}{% endif %}"
  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
  data-src="https://res.cloudinary.com/rockmonkey/image/upload/f_auto,w_{{ include.width | default: '800' }},q_auto:good/{{ image_url }}"
  data-srcset="https://res.cloudinary.com/rockmonkey/image/upload/f_auto,w_400,q_auto:good/{{ image_url }} 400w,
          https://res.cloudinary.com/rockmonkey/image/upload/f_auto,w_800,q_auto:good/{{ image_url }} 800w,
          https://res.cloudinary.com/rockmonkey/image/upload/f_auto,w_1200,q_auto:good/{{ image_url }} 1200w"
  data-sizes="auto"
  alt="{{ include.alt }}" 
  width="{{ include.width | default: '800' }}" 
  height="{{ include.height | default: 'auto' }}"
  loading="lazy" /> 